# =========================
# App
# =========================
APP_NAME=error-recovery-system
APP_ENV=prod

# =========================
# Kafka
# =========================
KAFKA_BOOTSTRAP_SERVERS=kafka-service:9092
KAFKA_TOPIC_MAIN=events-main
KAFKA_TOPIC_DLQ=events-dlq
KAFKA_TOPIC_REPLAY=events-replay

# =========================
# MongoDB
# =========================
MONGO_URI=mongodb://mongodb-service:27017
MONGO_DB=sandbox_db
MONGO_COLLECTION=cases

# =========================
# Slack
# =========================
SLACK_BOT_TOKEN=your-slack-bot-token
SLACK_CHANNEL=#your-channel

# =========================
# App Behavior
# =========================
RESET_DB_ON_START=false