# ==========================================
# 1. Terraform
# ==========================================
**/.terraform/*
.terraform/

*.tfstate
*.tfstate.*

crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tfvars
*.tfvars.json

.terraformrc
terraform.rc
*tfplan*

# ==========================================
# 2. Ansible / SSH / Secrets
# ==========================================
*.retry
ansible.log

*.pem
*.key
*.id_rsa
*.pub

secrets.yml
# inventory.ini

# ==========================================
# 3. Kubernetes / Helm
# ==========================================
kubeconfig
*.kubeconfig

*.tgz
.helm/

# ==========================================
# 4. Python / FastAPI / AIOps
# ==========================================
__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/

.env
.env.*
!.env.example

build/
dist/
*.egg-info/

# ==========================================
# 5. Java / Spring Boot
# ==========================================
target/
.gradle/
*.jar
*.war

# ==========================================
# 6. Logs
# ==========================================
*.log

# ==========================================
# 7. OS / Editor
# ==========================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.idea/
.vscode/
*.swp
*.swo
*~minikube-linux-amd64
User
Configuring
__pycache__/
minikube-linux-amd64
